body{
    background:#f4f7fc;
}


.sidebar{
    min-height:calc(100vh - 90px);
    background:
    linear-gradient(
        135deg,
        #334155,
        #475569
    );

    color:white;
    padding-top:30px;
}

.sidebar-brand i{
    color:#60a5fa;
}

.sidebar-brand h4{
    color:white;
    font-size:26px;
    font-weight:700;
    margin-bottom:8px;
}


.sidebar-brand small{
 color:#dbeafe;
font-size:14px;

}

.menu-item{
    color:#f8fafc !important;
    font-size:15px;
    font-weight:600;
    padding:14px 18px;
    border-radius:14px;
    transition:.3s;
    display:flex;
    align-items:center;
    gap:12px;
}

.menu-item i{
    margin-right:12px;
    font-size:18px;
    vertical-align:middle;
     width:20px;
    text-align:center;
}


.menu-item:hover{
    background:
    rgba(255,255,255,.15);
    transform:translateX(8px);
    color:white !important;

}

.menu-item.active{
    background:
    linear-gradient(
        135deg,
        #38bdf8,
        #0ea5e9
    );

    color:white !important;

}

.main-content{
    padding:35px;

}

.top-navbar{
    height:90px;

    background:
    linear-gradient(
        135deg,
        #334155,
        #475569
    );

    display:flex;
    align-items:center;
    justify-content:center;

    border-bottom:1px solid rgba(255,255,255,.08);
}

.navbar-title{
    color:white;
    font-size:24px;
    font-weight:700;
    text-align:center;
    letter-spacing:.5px;
}

.navbar-title i{
    color:#60a5fa;
}